body{
  background-color: var(--background);
  position: relative;
}

.cabecalho{
  width:100%;
  height: 2rem;
  text-align: center;
  padding-top: 2rem;
}
.pokeboll-cabecalho{
  width: 1.5rem;
  height: 1.5rem;
}
.nav-cabecalho{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
 
}
.nav-cabecalho > h1 {
  width: 65%;
  text-align: left;
}
.filter{
  width: 1.25rem;
  height: 2rem;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.filterName{
  background-image: url(../img/filter_name.svg) !important;
}
.filterNumber{
  background-image: url(../img/filter_number.svg);
}

.lista-pokemons{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}
.pokemon{
  width: 6.5rem;
  height: 7rem;
  cursor: pointer;
  border-radius: .5rem ; 
  position: relative;
}

.div-down{
  height: 1rem;
  border-radius: 0 0 .5rem .5rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-transform: capitalize;
  position: relative;
  bottom: 0;
}
.pokemon > .div-up{
  border-radius: .5rem ; 
  height: 100%;
}
.pokemon > .div-up > p{
  text-align: right;
  padding: .25rem .5rem 0;
}
.pokemon > .div-up > img{
  margin: 0 auto;
  width: 72%;
  height: 72%;
  display: flex;
  justify-items: center;
}

.btnCarregar{
  width: 100%;
  height: 2rem;
}

@media (min-width: 476px){
  .nav-cabecalho{
    justify-content: space-between;
  }
  .pokemon{
    width: calc((100% - 32px)/3);
    height: 200px;
  }
  .pokemon > .div-up > p{
    font-size: var(--size-14);
  }
  .div-down > p{
    font-size: var(--size-14);
    line-height: var(--height-32);
  }
  .pokemon > .div-up > img{
    width: 82%;
    height: 84%;
  }
}
